@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-body overflow-x-hidden;
  
}


/* Header */
.header-list-li + .header-list-li {
  @apply border-l-[1px] border-solid border-l-[#545454];
}

.header-list-item  {
  @apply text-white flex items-center cursor-pointer gap-x-[12px] relative mr-[-24px] px-[24px] 
   hover:text-blue duration-300;
}
.header-list-li:first-child .header-list-item{
  @apply pl-0
}
.header-list-item:hover path {
  @apply fill-[#00b5ff] duration-300
}
.header-list-item.active path {
  @apply fill-[#00b5ff] duration-300

}
.header-list-item.active  {
  @apply text-blue duration-300;
}
/* Header */


/* Splide custom */
.splide {
  @apply relative;
}
.splide__arrow {
  @apply bg-[#082C3E] opacity-[0.23] w-[28px] h-[112px] rounded-none absolute hover:bg-gradient-blue duration-300;
}
.splide .splide__arrow--next--cardList {
  @apply right-[-243px];
}
.splide .splide__arrow--prev--cardList {
  @apply left-[-222px];
}

.splide__arrow svg {
  @apply fill-white;
}
.splide__pagination {
  @apply bottom-[-58px;];
}
.splide__pagination li {
  @apply mx-[2px];
}
.splide__pagination button {
  @apply bg-[#082C3E] opacity-[0.2] w-[94px] h-[8px] rounded-none;
}
.splide__pagination .splide__pagination__page.is-active {
  @apply bg-[#082C3E] opacity-100 scale-x-110;
}
.section-pagination{
  @apply bottom-[30px];
}
.section-pagination button{
  @apply bg-white opacity-60;
}
.section-pagination .splide__pagination__page.is-active{
  @apply bg-white opacity-100 scale-x-110;
}
.splide__list::-webkit-scrollbar {
  display: none;
}
.splide__track--nav>.splide__list>.splide__slide{
  @apply border-none
}
.splide__track--nav>.splide__list>.splide__slide.is-active{
  border: 3px solid #0E98DD !important;
  opacity: 1;
}





.splide--slide{
  @apply relative h-full
  
}
.acc-detail-image-next{
  @apply bottom-0

}
.acc-detail-image-prev{
  @apply top-[-41px] -rotate-90 left-[50%] translate-x-[-50%]
}
.acc-detail-image-next{
  @apply translate-y-[157px] left-[50%] translate-x-[-50%] rotate-90
}
/* Splide custom */

.pagination-btn.active{
  @apply bg-primaryBlue text-white
}


.quantity-acc{
  background-image: linear-gradient(180deg, #38ADDD 20.31%, #007CAE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.totalCoin{
  background-image: linear-gradient(180deg, #49C3FF 0%, #008FD6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.total-coin-wrapper{
  border: 2px solid;
  border-image-source: linear-gradient(167.01deg, #0E98DD 3.31%, #ABE4FF 37.34%, #0080C0 100.83%);
  border-image-slice: 30%;
}